{% extends 'base.html' %}

{% block title %}
Welcome!
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="typewriter">Hi, my name is <em>John Doe</em>, and I am a cybersecurity student.</h1>
        <p class="subtitle">I'm currently studying at Kennesaw State University with a May 2024 projection to receive my Bachelor's of Science in Cybersecurity.</p>
        <a href="https://www.google.com" class="btn btn-primary btn-lg btn-oval">Learn More</a>
      </div>
    </div>
  </div>
{% endblock %}